@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import "normalize";
@import "layout";
@import "elements";
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "slick.scss";
body {
  background-color: #ffffff;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
.hidden {
  display: none;
}
/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1180px;
}
//Mobile menu
.ba-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 15;
  background-color: #ffffff;
  &__wrapper {
    display: flex;
    justify-content: space-between;
	 align-items: center;
	 padding-top: 15px;
  }
  &.is-active {
    position: fixed;
    z-index: 15;
  }
  &__logo {
    vertical-align: baseline;
    position: relative;
    z-index: 15;
  }
}
.hamburger {
  z-index: 15;
  outline: none;
  @media screen and (min-width: 640px) {
    display: none;
  }
}
.ba-sign {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  font: 500 23px/1.19 "Rubik", sans-serif;
  &__in {
    color: #0b132a;
    padding-bottom: 18px;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  &__up {
    color: #f53855;
    border: 1px solid #f53855;
    border-radius: 50px;
    padding: 13px 45px;
    &:hover,
    &:active,
    &:focus {
      background-color: #f53855;
      color: #f6f6f6;
    }
  }
}
.ba-nav {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

  &.is-active {
    transition: all 0.5s ease 0s;
    left: 0;
    background: #ffffff;
  }
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  &__item {
    padding: 0;
  }
  &__link {
    color: #4f5665;
    font: 400 25px/1.9 "Rubik", sans-serif;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
//Menu for tablets and desctops
@media screen and (min-width: 640px) {
  .ba-header {
    position: unset;
    top: 0;
    &__logo {
      flex-grow: 1;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 45px;
      flex-wrap: wrap;
    }
  }
  .ba-sign {
    font: 500 16px/1.19 "Rubik", sans-serif;
    flex-direction: row;
    padding-top: 15px;
    @media screen and (min-width: 1024px) {
      padding-top: 0;
    }
    &__in {
      padding-right: 30px;
      padding-bottom: 0;
    }
  }
  .ba-nav {
    margin: 0;
    position: unset;
    width: unset;
    //  overflow: unset;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
    }
    &__list {
      flex-direction: row;
      list-style: none;
      width: unset;
      margin: 0;
      padding: 0;
      text-align: unset;
      overflow: unset;
      padding-left: 7px;
      padding-right: 7px;
    }
    &__item {
      padding: 0;
      padding-right: 33px;
      &:last-child {
        padding-right: 0;
      }
    }
    &__link {
      color: #4f5665;
      font: 400 16px/1.9 Rubik, sans-serif;
    }
  }
}
//Sectio Intro
.ba-intro {
  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 80px;
    padding-bottom: 30px;
    @media screen and (min-width: 640px) {
      flex-direction: row;
    }
    @media screen and (min-width: 1024px) {
      padding-top: 127px;
      padding-bottom: 105px;
    }
  }
  &__text {
    width: 100%;
    padding-top: 25px;
    @media screen and (min-width: 640px) {
      width: 50%;
      padding-top: 0;
      padding-bottom: 26px;
    }
  }
  &__title {
    font: 500 23px/1.4 "Rubik", sans-serif;
    color: #0b132a;
    padding-bottom: 20px;
    @media screen and (min-width: 640px) {
      font: 500 35px/1.4 "Rubik", sans-serif;
    }
    @media screen and (min-width: 1025px) {
      font: 500 50px/1.4 "Rubik", sans-serif;
    }
    & span {
      font-weight: 700;
    }
  }
  &__subtitle {
    font: 400 16px/1.87 "Rubik", sans-serif;
    color: #4f5665;
    padding-bottom: 25px;
    @media screen and (min-width: 1024px) {
      padding-bottom: 50px;
    }
    & span {
      font-weight: 500;
    }
  }
  &__started {
    font: 500 16px/1.56 "Rubik", sans-serif;
    display: inline-block;
    color: #ffffff;
    background: #f53838;
    border-radius: 10px;
    padding: 16px 60px;
    border: 2px solid #f53838;
    box-shadow: 0px 27px 40px -8px rgba(245, 56, 56, 0.35);
    &:hover,
    &:active,
    &:focus {
      color: #f53838;
      background: #ffffff;
    }
    @media screen and (min-width: 640px) {
      padding: 16px 76px;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    position: relative;
    @media screen and (min-width: 640px) {
      width: 50%;
    }
    & img {
      position: relative;
      @media screen and (min-width: 1180px) {
        position: absolute;
        top: 0;
        right: -53px;
      }
    }
  }
}
.ba-info {
  padding: 30px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 24px 38px -11px rgba(13, 16, 37, 0.15);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 640px) {
    display: block;
    padding: 45px 45px;
    &:before {
      content: "";
      position: absolute;
      width: 2px;
      right: 33%;
      background-color: #eeeff2;
      @media screen and (min-width: 640px) {
        top: 15%;
        height: 70%;
      }
      @media screen and (min-width: 1024px) {
        top: 37px;
        height: 126px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 37px;
      width: 2px;
      height: 126px;
      left: 32%;
      background-color: #eeeff2;
      @media screen and (min-width: 640px) {
        top: 15%;
        height: 70%;
      }
      @media screen and (min-width: 1024px) {
        top: 37px;
        height: 126px;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    padding: 67px 91px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 640px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__item {
    display: flex;
    padding-bottom: 20px;
    @media screen and (min-width: 640px) {
      padding-bottom: 0;
    }
  }
  &__img {
    border-radius: 50%;
    background-color: #ffecec;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 36px;
  }
  &__title {
    font: 500 25px/1.2 "Rubik", sans-serif;
    color: #0b132a;
  }
  &__subtitle {
    font: 400 14px/1.5 "Rubik", sans-serif;
    color: #4f5665;
    @media screen and (min-width: 640px) {
      font: 400 20px/1.5 "Rubik", sans-serif;
    }
  }
}
//Section Features
.ba-features {
  padding-top: 30px;
  padding-bottom: 40px;
  @media screen and (min-width: 640px) {
    padding-top: 107px;
    padding-bottom: 127px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (min-width: 640px) {
      flex-direction: row;
    }
  }
  &__img {
    width: 100%;
    @media screen and (min-width: 640px) {
      width: 50%;
    }
  }
  &__text {
    width: 100%;
    @media screen and (min-width: 640px) {
      width: 38%;
    }
  }
  &__title {
    font: 500 23px/1.43 "Rubik", sans-serif;
    color: #0b132a;
    padding-bottom: 20px;
    padding-top: 15px;
    @media screen and (min-width: 640px) {
      font: 500 35px/1.43 "Rubik", sans-serif;
      padding-top: 0;
    }
  }
  &__subtitle {
    font: 400 14px/1.87 "Rubik", sans-serif;
    color: #4f5665;
    padding-bottom: 20px;
    @media screen and (min-width: 640px) {
      font: 400 16px/1.87 "Rubik", sans-serif;
    }
  }
  &__list {
    padding: 0;
  }
  &__item {
    font: 400 14px/2.14 "Rubik", sans-serif;
    color: #4f5665;
    padding-bottom: 15px;
    padding-left: 33px;
    list-style: none;
    background: url(../img/list.svg) no-repeat 0 5px;
  }
}
//Section Pricing
.ba-pricing {
  background: linear-gradient(
    to bottom,
    #f6f6f6 0%,
    rgba(255, 255, 255, 0.01) 100%
  );
  padding-top: 80px;
  padding-bottom: 50px;
  @media screen and (min-width: 640px) {
    padding-bottom: 150px;
  }
  &__title {
    font: 500 23px/1.43 "Rubik", sans-serif;
    color: #0b132a;
    padding-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 640px) {
      font: 500 35px/1.43 "Rubik", sans-serif;
    }
  }
  &__subtitle {
    font: 400 14px/1.87 "Rubik", sans-serif;
    color: #4f5665;
    padding-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 640px) {
      font: 400 16px/1.87 "Rubik", sans-serif;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (min-width: 640px) {
      flex-direction: row;
    }
  }
}

.ba-plan {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 25px;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 25px;
  &:hover {
    border: 2px solid #f53838;
  }
  @media screen and (min-width:1020px){
	padding: 50px 65px;
  }
  @media screen and (min-width: 1025px) {
    margin-bottom: 0;
    padding: 50px 75px;
    margin-right: 25px;
  }
  &__img {
	  display: block;
    width: 50%;
    height: auto;
	 @media screen and (min-width:640px){
		  width: 100%;
	 }
  }
  &__name {
    padding: 30px 0;
    font: 500 18px/1.67 "Rubik", sans-serif;
    color: #0b132a;
  }
  &__list {
    padding: 0;
    padding-bottom: 50px;
    flex-grow: 1;
  }
  &__item {
    list-style: none;
    background: url(../img/price-list.svg) no-repeat 0 5px;
    padding-left: 40px;
    font: 400 14px/2.14 "Rubik", sans-serif;
    color: #4f5665;
  }
  &__price {
    font: 500 25px/1.2 "Rubik", sans-serif;
    color: #0b132a;
    padding-bottom: 20px;
    & span {
      font-weight: 500;
      color: #4f5665;
    }
  }
  &__select {
    font: 500 16px/1.19 "Rubik", sans-serif;
    color: #f53838;
    border: 2px solid #f53838;
    border-radius: 50px;
	 padding: 13px 63px;
	 display: inline-block;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
		background-color: #f53838;
		box-shadow: 0px 27px 40px -8px rgba(245, 56, 56, 0.35);
    }
  }
}
.ba-map {
  text-align: center;
  margin: 0 auto;
  &__title {
    padding-bottom: 20px;
    font: 500 23px/1.43 "Rubik", sans-serif;
    color: #0b132a;
    @media screen and (min-width: 640px) {
      white-space: pre-line;
      font: 500 35px/1.43 "Rubik", sans-serif;
    }
  }
  &__subtitle {
    padding-bottom: 40px;
    font: 400 14px/1.87 "Rubik", sans-serif;
    color: #4f5665;
    @media screen and (min-width: 640px) {
      padding-bottom: 155px;
      white-space: pre-line;
      font: 400 16px/1.87 "Rubik", sans-serif;
    }
    & span {
      font-weight: 500;
    }
  }
  &__wrapper {
    max-width: 998px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    @media screen and (min-width: 1025px) {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      vertical-align: baseline;
      padding-top: 110px;
      padding-bottom: 124px;
    }
    & img {
      display: block;
      height: 100%;
      width: 30%;
      padding-bottom: 10px;
      padding-left: 15px;
      @media screen and (min-width: 1024px) {
        padding-left: 47px;
        padding-bottom: 0;
      }
    }
  }
}
.ba-testemonials {
  overflow: hidden;
  padding-bottom: 65px;
  &__title {
    font: 500 23px/1.43 "Rubik", sans-serif;
    color: #0b132a;
    padding-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 640px) {
      white-space: pre-line;
      font: 500 35px/1.43 "Rubik", sans-serif;
    }
  }
  &__subtitle {
    font: 400 14px/1.87 "Rubik", sans-serif;
    color: #4f5665;
    padding-bottom: 30px;
    text-align: center;
    @media screen and (min-width: 640px) {
      white-space: pre-line;
      font: 400 16px/1.87 "Rubik", sans-serif;
      padding-bottom: 60px;
    }
  }
}
.ba-slide {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 80vw;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin-right: 20px;
  height: 200px;
  @media screen and (min-width: 640px) {
    max-width: 400px;
    margin-right: 50px;
    height: 250px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  &__foto {
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
	 margin-right: 10px;
	 @media screen and (min-width:640px){
		margin-right: 20px;
	 }
  }
  &__person {
    display: flex;
    align-items: center;
  }
  &__name {
	font: 500 10px/1 "Rubik", sans-serif;
    color: #0b132a;
	 padding-bottom: 5px;
	 @media screen and (min-width:640px){
		font: 500 18px/1 "Rubik", sans-serif; 
	 }
  }
  &__place {
	font: 400 10px/1 "Rubik", sans-serif; 
	 color: #4f5665;
	 @media screen and (min-width:640px){
		font: 400 14px/1 "Rubik", sans-serif;
	 }
  }
  &__details {
    display: flex;
    flex-direction: column;
  }
  &__rate {
    font: 400 16px/1.87 "Rubik", sans-serif;
    color: #0b132a;
    & span {
      padding-right: 11px;
    }
  }
  &__feedback {
    font: 400 12px/1.87 "Rubik", sans-serif;
    color: #0b132a;
    @media screen and (min-width: 640px) {
      font: 400 16px/1.87 "Rubik", sans-serif;
    }
  }
}
.ba-slider {
  &__nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
  }
  &__dot-nav {
    list-style: none;
    display: flex;
    padding: 0;
  }
  &__arrow {
    border: 2px solid #f53838;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #ffff;
    fill: #f53838;
    &:hover,
    &:active,
    &:focus {
      fill: #ffffff;
      background-color: #f53838;
      outline: 0;
      outline-offset: 0;
    }
  }
  &__prev {
    margin-right: 20px;
  }
  &__next {
    & svg {
      transform: rotate(180deg);
    }
  }

  &__dot-nav li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #dde0e4;
    margin-right: 15px;
    & button {
      display: none;
    }
    &.slick-active {
      width: 35px;
      background-color: #f53838;
      border-radius: 10px;
      transition: 0.3s all;
    }
  }
}
//styles for slick slider
.slick-list {
  overflow: visible;
  max-width: 100vw;
}
.slick-current {
  border: 2px solid #f53838;
}
//Subscribe section
.ba-subscribe {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0px 24px 38px -11px rgba(13, 16, 37, 0.15);
    padding: 20px 30px;
    position: relative;
    z-index: 50;
    @media screen and (min-width: 640px) {
      flex-direction: row;
      padding: 30px 30px;
    }
    @media screen and (min-width: 1024px) {
      padding: 59px 70px;
    }
  }
  &__text {
    @media screen and (min-width: 640px) {
      width: 60%;
    }
    @media screen and (min-width: 1024px) {
      width: unset;
    }
  }
  &__title {
    font: 500 23px/1.29 "Rubik", sans-serif;
    color: #0b132a;
    padding-bottom: 20px;
    @media screen and (min-width: 1024px) {
      font: 500 35px/1.29 "Rubik", sans-serif;
      white-space: pre-line;
    }
  }
  &__subtitle {
    font: 400 14px/1.87 "Rubik", sans-serif;
    color: #4f5665;
    @media screen and (min-width: 1024px) {
      font: 400 16px/1.87 "Rubik", sans-serif;
      white-space: pre-line;
    }
  }
  &__link {
    font: 500 16px/1.56 "Rubik", sans-serif;
    display: inline-block;
    color: #ffffff;
    background: #f53838;
    margin-top: 30px;
    border-radius: 10px;
    padding: 16px 20px;
    border: 2px solid #f53838;
    box-shadow: 0px 27px 40px -8px rgba(245, 56, 56, 0.35);
    &:hover,
    &:active,
    &:focus {
      color: #f53838;
      background: #ffffff;
    }
    @media screen and (min-width: 1024px) {
      padding: 18px 65px;
      margin-top: 0;
    }
  }
}
//footer
.ba-footer {
  background: #f8f8f8;
  margin-top: -125px;
  padding-bottom: 100px;
  padding-top: 195px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 640px) {
      flex-direction: row;
    }
  }
  &__left {
    width: 100%;
    display: flex;
    flex-direction: column;
	 align-items: flex-start;
	 @media screen and (min-width:640px){
		width: 30%;
	 }
  }
  &__right{
    width: 100%;
    display: flex;
	 justify-content: space-between;
	 flex-direction: column;
	 @media screen and (min-width:640px){
		flex-direction: row; 
		width: 50%;
	 }
	
  }
  &__logo {
    padding-bottom: 20px;
  }
  &__socials {
    display: flex;
    padding-bottom: 30px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffff;
    height: 34px;
    width: 34px;
    margin-right: 20px;
    box-shadow: 0px 19px 25px -8px rgba(13, 16, 37, 0.15);
    fill: #f53838;
    &:hover,
    &:active,
    &:focus {
      transform: scale(1.3);
    }
  }
  &__description {
    font: 400 16px/1.87 "Rubik", sans-serif;
    color: #4f5665;
    padding-bottom: 30px;
    & span {
      font-weight: 500;
    }
  }
  &__copyright {
    font: 400 16px/1.87 "Rubik", sans-serif;
    color: #afb5c0;
  }
}
.ba-col {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @media screen and (min-width:640px){
	margin-top: 0;
  }
  &__title {
    font: 500 18px/1.67 "Rubik", sans-serif;
	 color: #0b132a;
	 padding-bottom: 20px;
  }
  &__list{
	  list-style: none;
	  padding: 0;
  }
  &__link{
	font: 400 16px/1.87 "Rubik", sans-serif;
	color: #4F5665;
	&:hover,
    &:active,
    &:focus {
		 text-decoration: underline;
	 }
  }
}
